<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Tesco.Specflow.SettingsSpecflow" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Tesco.Specflow.SettingsSpecflow" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ModelTesco" connectionString="data source=DESKTOP-KQS99BN\SQLEXPRESS02;initial catalog=Data_Tesco;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <Tesco.Specflow.SettingsSpecflow>
      <setting name="SaveLocatioExcelReport" serializeAs="String">
        <value>C:\LogsFolder\ExcelReport</value>
      </setting>
      <setting name="GenericAccountPassword" serializeAs="String">
        <value>Pass@word456</value>
      </setting>
    </Tesco.Specflow.SettingsSpecflow>
  </userSettings>
  <applicationSettings>
    <Tesco.Specflow.SettingsSpecflow>
      <setting name="ResultsTableName" serializeAs="String">
        <value>TescoRunNumber_1</value>
      </setting>
      <setting name="Headless" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseSeleniumGrid" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SeleniumGridHub" serializeAs="String">
        <value>http://192.168.1.190:2222/wd/hub</value>
      </setting>
      <setting name="Browser" serializeAs="String">
        <value>chrome</value>
      </setting>
      <setting name="IsScheduledTest" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ScheduledTime" serializeAs="String">
        <value>19:00:00</value>
      </setting>
      <setting name="LogsBaseFolder" serializeAs="String">
        <value>C:\LogsFolder</value>
      </setting>
      <setting name="ResultsConnectionString" serializeAs="String">
        <value>Server=localhost\SQLEXPRESS02;Database=Results;Trusted_Connection=True;</value>
      </setting>
      <setting name="TestDomain" serializeAs="String">
        <value>https://www.tesco.com</value>
      </setting>
      <setting name="DetectGenericErrorObjectXpath" serializeAs="String">
        <value>//*[contains(text(),'but something went wrong')]</value>
      </setting>
      <setting name="RunFullTidyUp" serializeAs="String">
        <value>True</value>
      </setting>
    </Tesco.Specflow.SettingsSpecflow>
  </applicationSettings>
</configuration>