<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestResultBuilder.Properties.SettingsDB" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TestResultBuilder.Properties.Settings.ResultsConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Results.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TestResultBuilder.Properties.SettingsDB.ResultsConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Results.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <TestResultBuilder.Properties.SettingsDB>
            <setting name="DataDirectory" serializeAs="String">
                <value>C:\DBDataDirectory</value>
            </setting>
        </TestResultBuilder.Properties.SettingsDB>
    </applicationSettings>
</configuration>